
<div class="container">

    <div class="container1">
        <app-welcome></app-welcome>
    </div>
    <div class="container2">
        <label class="form-label"  for="login" style="font-size:x-large">Log In</label>
        <label style="margin-bottom: 10px;">Seleccione un rol</label>
        <div class="input-Empleado">
            
            <input class="form-control"  id="Empleado" type="button"  name="Empleado" value="Empleado" (click)="pushRol(Empleado)" />
        </div>
        <div class="input-RRHH">
            
            <input class="form-control"  id="RRHH" type="button"  name="RRHH" value="RRHH"  (click)="pushRol(RRHH)" />
        </div>
        <div class="input-Seguridad">
            
            <input class="form-control"  id="Seguridad" type="button"  name="Seguridad" value="Seguridad" (click)="pushRol(Seguridad)"  />
        </div>
        <div class="input-Administracion">
            <input class="form-control"  id="Administracion" type="button"  name="Administracion" value="Administracion" (click)="pushRol(Administrador)"  />
            
        </div>
        

  
        
    </div>
    
    </div>
