

<mat-toolbar class="navbar mat-elevation-z8"  >
  <mat-toolbar-row>
    <div class="logoContainer">
  <a id="logo" ><mat-icon>

  </mat-icon></a>
</div>
<div class="contenedor-open">
    <a mat-button id="btnOpen" (click)="opened=!opened"><mat-icon>
    </mat-icon></a>
    </div> 
    <a mat-button id="btnEmpresa" ><mat-icon>
    </mat-icon></a>
    <p class="item">Encode S.A</p>

    <div class="contenedor" >
        
    <a id="btnAplicaciones" mat-button><mat-icon>
    </mat-icon></a>
    <a class="texto">Mis Aplicaciones</a>
    
    <a id="btnSelect" mat-button><mat-icon>
    </mat-icon></a>
  </div>
  <div class="contenedor-ultimos-iconos">
    <a id="btnHelp" mat-button><mat-icon>
    </mat-icon></a>
    <a id="btnConfig" mat-button><mat-icon>
    </mat-icon></a>
    <a id="btnNoti" mat-button><mat-icon>
    </mat-icon></a>
    <a id="btnMensaje" mat-button><mat-icon>
    </mat-icon></a>

    <a id="btnLogout" mat-button (click)="redirectLogout()"><mat-icon>
    </mat-icon></a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav  [(opened)]="opened" mode="side">
    <div class="contenedor-imagen" >
      <img  alt="" class="imagen">
    </div>
    <p >Mariano Lopez</p>
    <p id="rol" *ngFor="let nav of dataRol" (click)="getNameRol()">{{nav.rol}}</p>
    
    <hr>
    <div class="item-group">
     <div *ngFor="let nav of dataOpction" style="display:inline-flex; justify-content: center; align-items: center;">
       <img   src="{{nav.icon}}"  width="24" height="24" style="margin-left:10px " />
       <p class="item" style="color: white; " mat-list-item routerLink="nav.route"   (click)="redirect(nav.name)" >
        {{nav.name}}
      </p>
    </div>

  </div>
  <p>Powered by   <span class="titulo" style="color:rgb(0, 191, 255)">&nbsp;EN<span style="color:rgb(255, 255, 255)">CODE</span> </span></p>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
    <h1  #component id="content" *ngIf="retVal==1"  ><app-dashboard></app-dashboard></h1>  
    <h1  #component id="content" *ngIf="retVal==2"  ><app-bandeja-doc></app-bandeja-doc></h1>
    <h1  #component id="content" *ngIf="retVal==3"  ><app-empleados></app-empleados></h1>
    <h1  #component id="content" *ngIf="retVal==4"  ><app-vacantes></app-vacantes></h1>
    <h1  #component id="content" *ngIf="retVal==5"  ><app-descargas></app-descargas></h1>
    <h1  #component id="content" *ngIf="retVal==6"  ><app-dashboard-seguridad></app-dashboard-seguridad></h1>
    <h1  #component id="content" *ngIf="retVal==7"  ><app-dashboard-admin></app-dashboard-admin></h1>
    <h1  #component id="content" *ngIf="retVal==8"  ><app-dashboard-empleado></app-dashboard-empleado></h1>
    <h1  #component id="content" *ngIf="retVal==9"  ><app-bandeja-docs-empleado></app-bandeja-docs-empleado></h1>
    <h1  #component id="content" *ngIf="retVal==10"  ><app-certificados-empleados></app-certificados-empleados></h1>  
    <h1  #component id="content" *ngIf="retVal==11"  ><app-registrar-asistencias></app-registrar-asistencias></h1>   
    <h1  #component id="content" *ngIf="retVal==12"  ><app-permisos-licencias></app-permisos-licencias></h1>   
    <h1  #component id="content" *ngIf="retVal==13"  ><app-seguridad-empleados></app-seguridad-empleados></h1>   
    <h1  #component id="content" *ngIf="retVal==14"  ><app-politicas-de-seguridad></app-politicas-de-seguridad></h1>   
    <h1  #component id="content" *ngIf="retVal==15"  ><app-auditorias></app-auditorias></h1>   
    <h1  #component id="content" *ngIf="retVal==16"  ><app-empresa></app-empresa></h1>   
    <h1  #component id="content" *ngIf="retVal==17"  ><app-solicitudes></app-solicitudes></h1>   
    <h1  #component id="content" *ngIf="retVal==18"  ><app-sucursales></app-sucursales></h1>   
    <h1  #component id="content" *ngIf="retVal==19"  ><app-definicion-documentos></app-definicion-documentos></h1>   
  </div>
   
  </mat-sidenav-content>
  </mat-sidenav-container>
    