.container{
  background-color: white;
  width: 100%;
}
p{
  color:white;
 
  padding: 10px;
  
  margin: 10px;
  
 
   border-radius: 5px;
 
  background-color: rgb(35, 113, 113);
  
  text-align: center;
  
  font-size: 15px;
  
  font-style: normal;
 
 
 
  text-decoration: none;
  
  text-transform: uppercase;
 
}
 #rol{
  color: rgb(21, 228, 228);
}

  
.sidebar{
    background-color: rgb(17, 94, 94);
    width: 30%;
    
}
.navbar{
  
    background-color: rgb(35, 113, 113);
    width: 100%;
    height: 80px;
    
}
.item-group .item{
  font-size: medium;
  font-style: normal;
  color: white;
  text-decoration: none;
  padding: 10px;
 
 
}
.item-group .item:hover{
  color: white;
  background-color: rgb(43, 160, 160);
  transition: 1s;
  cursor:pointer;
  padding: 10px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
 
}



.mat-sidenav-content{
  background-color: white;
  
}  


  
.mat-sidenav-container{
    background-color: rgb(30, 114, 114);
    height: calc(205vh - 115vh);
    
}
.mat-sidenav{
    background-color: rgb(17, 94, 94);
    width:250px;
 
}

.contenedor-imagen {
  width: 100px;
  height: 100px;
  border-radius: 50%;
 
  overflow: hidden;
  margin-left: 69px;
  margin-top: 30px;

  
 padding: auto;
 
  justify-content: center;
  align-items: center;

  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  transition: 400ms;
}

.contenedor-imagen > img {
  width: 100%;
  height: 100%;
  object-fit: cover;

 

}

 .imagen {
  background-image: url("../sidebar/assets/images.png");
  background-size:calc(100% - -30px);
  background-repeat: no-repeat;
  background-position: center;
}
#imag{
  background-image: url("../sidebar/assets/sidebarrrhh/dashboard.png");
 background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#logo{
  background-image: url("../sidebar/assets/logo-bddo.png");
 background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  cursor: pointer;
  
 
}




#btnOpen{

background-image: url("../sidebar/assets/sidebarempleado/menu.png");
 background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
 margin-left: 160px;
 cursor: pointer;
 width: 30px;
}
#btnOpen:hover{
  background-color: rgb(21, 135, 135);
transition: 0.3s;

border-radius: 5px;

}

#btnEmpresa{

  background-image: url("../sidebar/assets/menunav/empresa.png");
   background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
   
    margin-left: 50px;
   
    cursor: pointer;
  }

  #btnAplicaciones{

    background-image: url("../sidebar/assets/menunav/aplicaciones.png");
     background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      margin-left: 50px;
      
    }
    
  #btnSelect{

    background-image: url("../sidebar/assets/menunav/select.png");
      background-size: 13px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
   /*separar icono del contenedor*/
   cursor: pointer;
    

      
    }
    .contenedor{
      color:white;
      background-color: rgb(35, 151, 151);
      border-radius: 10px;
      display: inline-flex;
      height: 50px;
      width: 18rem;
      
    }
    .texto{
      background-color: rgb(35, 151, 151);
      
      text-decoration: none;
      color: white;
      display: inline-flex;
      margin-left: 10px;
      margin-top: 10px;
      font-style: normal;
      
    }
   

    #btnLogout{

      background-image: url("../sidebar/assets/menunav/logout.png");
      background-size: 18px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
     /*separar icono del contenedor*/
     cursor: pointer;
     margin-left: 10px;
  
        
      }

      #btnMensaje{

        background-image: url("../sidebar/assets/menunav/mensaje.png");
        background-size: 18px;
          background-repeat: no-repeat;
          background-position: center;
          background-color: transparent;
       /*separar icono del contenedor*/
       cursor: pointer;
       margin-left: 16px;
        
    
          
        }
        #btnNoti{

          background-image: url("../sidebar/assets/menunav/noti.png");
          background-size: 18px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;
         /*separar icono del contenedor*/
         cursor: pointer;
         margin-left: 16px;
      
            
          }
          #btnConfig{

            background-image: url("../sidebar/assets/menunav/config.png");
            background-size: 18px;
              background-repeat: no-repeat;
              background-position: center;
              background-color: transparent;
           /*separar icono del contenedor*/
           cursor: pointer;
           margin-left:  16px;
        
              
            }

            #btnHelp{

              background-image: url("../sidebar/assets/menunav/help.png");
                background-size: 15px;
                background-repeat: no-repeat;
                background-position: center;
                background-color: transparent;
             /*separar icono del contenedor*/
             cursor: pointer;
              
             margin-left:  16px;
                
              }

              .contenedor-ultimos-iconos{
                display: inline-flex;
                position:absolute; /* centra el contenido en la parte derecha de la pantalla */
                right: 0;
                margin-right: 10px;
                margin-top: 10px;
              }