<!--sidebar-->
<!--
<div class="sidebar">
    
  </div>
  -->
<!--
  <div class="example-container" *ngIf="shouldRun">
    <mat-toolbar color="primary" class="example-toolbar">

      <button mat-icon-button class="btn" (click)="snav.toggle()">
        <mat-icon >menu</mat-icon></button>
      
    </mat-toolbar>
        
    
    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #snav 
                    fixedTopGap="56" class="sidebar">
        <mat-nav-list >
            <mat-icon></mat-icon>
          <a mat-list-item routerLink="nav.route" *ngFor="let nav of fillerNav" >{{nav.name}}</a>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
       <!-- <p *ngFor="let content of fillerContent">{{content}}</p>-->
     <!-- </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
-->
 

<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <div class="logoContainer">
  <a id="logo" ><mat-icon>

  </mat-icon></a>
</div>
    <a mat-button id="btnOpen" (click)="opened=!opened"><mat-icon>
    </mat-icon></a>
      
    <a mat-button id="btnEmpresa" ><mat-icon>
    </mat-icon></a>
    <p class="item">Encode S.A</p>

    <div class="contenedor" >
        
    <a id="btnAplicaciones" mat-button><mat-icon>
    </mat-icon></a>
    <a class="texto">Mis Aplicaciones</a>
    
    <a id="btnSelect" mat-button><mat-icon>
    </mat-icon></a>

   
   

   
  </div>
  <div class="contenedor-ultimos-iconos">
    <a id="btnHelp" mat-button><mat-icon>
    </mat-icon></a>
    <a id="btnConfig" mat-button><mat-icon>
    </mat-icon></a>
    <a id="btnNoti" mat-button><mat-icon>
    </mat-icon></a>
    <a id="btnMensaje" mat-button><mat-icon>
    </mat-icon></a>

    <a id="btnLogout" mat-button (click)="redirectLogout()"><mat-icon>
    </mat-icon></a>

  

  



    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav  [(opened)]="opened" mode="side">
    <div class="contenedor-imagen">
      <img  alt="" class="imagen">
    </div>
    <p>Mariano Lopez</p>
    <p id="rol" *ngFor="let nav of dataRol" (click)="getNameRol()">{{nav.rol}}</p>
    
    <hr>
    <div class="item-group">
      
      
     
    <p class="item" style="color: white;" mat-list-item routerLink="nav.route"  *ngFor="let nav of dataOpction" (click)="redirect(nav.name)" >
      <!--<img id="imag"   width="24" height="24" /> -->
     {{nav.name}}
    </p>
    
  </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <h1  #component id="content" *ngIf="retVal==1"  ><app-dashboard></app-dashboard></h1>
  <h1  #component id="content" *ngIf="retVal==2"  ><app-bandeja-doc></app-bandeja-doc></h1>
 
  </mat-sidenav-content>
  </mat-sidenav-container>
