    <!-- uso el ng submit para escuchar el evento del login y capturar los datos del usuario y contraseña -->
    <div class="container">
        <div class="container1">
            <app-welcome></app-welcome>
        </div>
    
<div class="container2">
    <form [formGroup]="myform" (ngSubmit)="saveData()" novalidate>
        <label class="form-label"  for="login" style="font-size:x-large;font-weight: 800;">Log In</label>
        <label class="form-label" style="font-weight: 800;"   for="username">Usuario</label>
        
        <input class="form-control"  id="usuario" type="text" formControlName="usuario" id="usuario" required   placeholder="Ingresa su usuario"/>
        
        <label class="form-label" style="font-weight: 800;"  for="password">Contraseña</label>
        <input class="form-control"   type="password" formControlName="contraseña" id="contraseña" required   placeholder="Ingresa su contraseña"/>
        <p *ngIf="myform.invalid && myform.touched && saveData()==false" style="color:red">El formulario es invalido, rellene los campos correctamente</p>
     
        
            <p *ngIf="!userCorrecto" style="color:red">El usuario o contraseña son incorrectos</p>
     
        
        
       

        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
       
       <div class="row">
            <label  class="form-check-label" for="flexCheckDefault">
                  Recuerdame
                  
                   </label>
                  
                   <a class="olvido" for="Olvido" (click)="redirectForgot()">Olvide mi contraseña</a> 
                </div>
            
       
    </div>


        <button class="btn" value="Ingresar" routerLink="/roles" type="submit" routerLinkActive="router-link-active" (click)="validateUserForm()"   >Ingresar</button>
        <div class="row2 ">
        <p id="txt">No tienes una cuenta?</p>
        <a type="button" class="registro" value="Registrarte" (click)="registerRedirect()">Registrate</a>
        </div>
    </form>
    
</div>
   
</div>
