
<div class="container">
<app-welcome></app-welcome>

<div class="container2">
    <form [formGroup]="form" (ngSubmit)="saveData()"  novalidate>
        <label class="form-label"  for="login" style="font-size:x-large;font-weight: 800;">Registro</label>
        <label class="form-label" style="font-weight: 800;"   for="username">Usuario</label>
        <input class="form-control"  id="usuario" type="text" formControlName="usuario" id="usuario" required   placeholder="Ingresa su usuario"/>
        
        <label class="form-label" style="font-weight: 800;"  for="password">Contraseña</label>
        <input class="form-control"   type="password" formControlName="contraseña" id="contraseña" required   placeholder="Ingresa su contraseña"/>
        
       

     


        <button class="btn" value="Ingresar" routerLink="/roles" type="submit" routerLinkActive="router-link-active"   >Registrarte</button>
        <div class="row2 ">
        <p id="txt">Ya tienes una cuenta?</p>
        <a type="button" class="registro" value="Registrarte" (click)="redirectLogin()" >Inicia Sesion</a>
        </div>
    </form>
    
</div>
   
</div>